.activities{
    position: fixed;
    top: 26px;
    left: 0px;
    width: 100%;
    height: calc(100% - 26px);
    z-index: 999999999;
    background: #222222;
}

.activities-wallpaper{
    position: fixed;
    top: 106px;
    left: 120px;
    width: calc(100% - 160px);
    height: calc(100% - 146px);
    border-radius: 30px;
    box-shadow: 0px 0px 10px #220022;
}