.brightness{
    z-index: 999999999999999999999999999999999999999999999;
    pointer-events: none;
    background: #000000;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 0;
}