body{
    cursor: default;
}

.option-list{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #222222;
}

.option{
    width: 100%;
    transition-duration: 0.2s;
    border-radius: 5px;
    color: #ffffff;
}

.option:hover{
    transition-duration: 0.2s;
    background: #444444;
}