body{
    background: #550055;
}

input,textarea{
    outline: none;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
  
::-webkit-scrollbar-track {
    background: #aaaaaa; 
}
   
::-webkit-scrollbar-thumb {
    background: #444444; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #888888; 
}

.wallpaper{
    position: fixed;
    z-index: -10;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

.context-menu-container{
    z-index: 99999999999999999999999999999999999999999;
    background: #00000000;
    top: 0px;
    left: 0px;
    position: fixed;
    height: 100%;
    width: 100%;
}

.context-menu{
    z-index: 1;
    background: #00000044;
    top: 0px;
    left: 0px;
    border-radius: 5px;
    border: #777777 solid 1px;
    position: fixed;
    height: 266px;
    width: 250px;
    box-shadow: 0px 0px 10px #220022;
}

.panel-activities:hover, .panel-notification:hover, .panel-status:hover, .panel-active-app:hover {
    background: #ffffff44;
    transition-duration: 0.2s;
}

.menu-searchbox{
    position: fixed;
    top: 45px;
    height: 28px;
    left: calc(50% - 110px);
    width: 298px;
    border-radius: 15px;
    background: #111111;
    border: #777777 solid 1px;
    display: grid;
    grid-template-columns: 35px auto;
    align-items: center;
}

.menu-searchbox  > input{
    padding: 0px;
    height: 28px;
    border: none;
    background: #111111;
    color: #ffffff;
    border-radius: 15px;
}

.menu-searchbox > img{
    filter: brightness(2);
    height: 24px;
    justify-self: center;
}