.panel{
    position: fixed;
    z-index: 99999999999999999999999999999999999999999;
    top:0px;
    left:0px;
    width: 100%;
    height: 26px;
    background: #222222;
}

.panel-activities{
    position: fixed;
    height: 22px;
    width: 85px;
    left: 2px;
    top: 2px;
    font-size: 16px;
    color: #ffffff;
    border-radius: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    cursor: default;
    transition-duration: 0.2s;
}

.panel-active-app{
    position: fixed;
    left: 90px;
    width: 0px;
    height: 22px;
    top: 2px;
    border-radius: 50px;
    transition-duration: 0.2s;
    cursor: default;
}

.panel-active-app-icon{
    position: absolute;
    height: 16px;
    width: 16px;
    left: 10px;
    top: 3px;
    cursor: default;
    filter: grayscale(1);
}

.panel-active-app-name{
    position: absolute;
    height: 16px;
    left: 30px;
    top: 3px;
    font-size: 16px;
    color: #ffffff;
    cursor: default;
    white-space:nowrap;
}

.panel-notification{
    position: fixed;
    height: 22px;
    width: 120px;
    left: 50%;
    top: 2px;
    transform: translate(-50%,0);
    font-size: 16px;
    border-radius: 50px;
    color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    cursor: default;
    transition-duration: 0.2s;
}

.panel-status{
    position: fixed;
    height: 22px;
    width: 80px;
    right: 2px;
    top: 2px;
    font-size: 16px;
    color: #ffffff;
    border-radius: 50px;
    cursor: default;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-items: center;
    transition-duration: 0.2s;
}

.panel-status-no-wifi{
    grid-template-columns: 0px auto auto !important;
    width: 55px !important;
}

.panel-status-icon{
    height: 16px;
    filter: brightness(2);
}

.status-about{
    position: fixed;
    top: 30px;
    right: 5px;
    width: 315px;
    height: 315px;
    border: #222222 2px solid;
    border-radius: 5px;
    border: #777777 solid 1px;
    box-shadow: 0px 0px 10px #220022;
}

.notification-about{
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translate(-50%,0%);
    width: 400px;
    height: 300px;
    border: #222222 2px solid;
    border-radius: 5px;
    border: #777777 solid 1px;
    box-shadow: 0px 0px 10px #220022;
}
