.content-iframe{
    width: 100%;
    height: 100%;
    border: none;
}

#back{
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 3px 0px 0px 3px;
}

#forward{
    position: absolute;
    top: 0px;
    left: 30px;
    border-radius: 0px 3px 3px 0px;
}

#bookmarks{
    position: absolute;
    right: 70px;
    top: 0px;
}

#searchbutton{
    position: absolute;
    right: 35px;
    top: 0px;
}

#menu{
    position: absolute;
    right: 0px;
    top: 0px;
}